/* Your Global Custom styles of Application */
body{
  font-family: 'Ubuntu', sans-serif;
  background-color: #f0f7f7;
}

.btn-primary , .bg-primary{
  background: linear-gradient(45deg,black,blueviolet);
}
.btn-secondary , .bg-secondary{
  background: linear-gradient(45deg,black,purple);
}
.btn-success , .bg-success{
  background: linear-gradient(45deg,black,limegreen);
}
.btn-info , .bg-info{
  background: linear-gradient(45deg,black,lightblue);
}
.btn-warning , .bg-warning{
  background: linear-gradient(45deg,black,orange);
}
.btn-danger , .bg-danger{
  background: linear-gradient(45deg,black,red);
}
.btn-light , .bg-light{
  background: linear-gradient(45deg,darkgray,gray);
}
.btn-dark , .bg-dark{
  background: linear-gradient(45deg,black,darkslategray);
}

/* ----------------- Landing Page ------------------ */
.landing-page{
  background: white url("assets/img/bg-image.jpg") no-repeat scroll center;
  background-size: cover;
  height: 100vh;
  color: #c8cfcf;
}
.wrapper{
  background-color: rgba(0,0,0,0.7);
  height: 100%;
}
/* ---------- Custom Button & Background ------------- */
.btn-teal , .bg-teal{
  background-color: #114444 !important;
}
.text-teal{
  color: #114444 !important;
}
.bg-light-grey{
  background: linear-gradient(45deg,darkgrey,#add8e6) !important;
}
.profile-img{
  box-shadow: 0 0 10px black;
}
table{
  box-shadow: 0 0 2px #114444;
}
